/**
 * Cybex header
 */

.SiteHeader {

  @apply font-arial-bold;

  & .Bar {
    font-size: 14px;
    min-height: 50px;
    z-index: 20;
  }

  & .Bar--horizontal {

    & .Bar-item:first-of-type {
      padding-left: var(--spacing-s);

      @media (min-width: var(--layout-ml)) {
        padding-left: var(--spacing-m);
      }
    }
  }

  & .Bar-item,
  & .Bar--horizontal .Nav-item {
    height: 50px;
  }

  & .Bar-item--center {
    display: none;

    @media (min-width: var(--layout-sm)) {
      display: block;
      display: flex;
    }
  }

  & .Bar-item:last-of-type {
    padding-right: var(--spacing-s);

    @media (min-width: var(--layout-ml)) {
      padding-right: var(--spacing-sm);
    }
  }

  .Logo {
    display: flex;
    margin-bottom: 0;
  }
}

.SiteHeader--big {

  & .Bar {
    font-size: 18px;
    min-height: 50px;

    @media (min-width: var(--layout-sm)) {
      min-height: 78px;
    }
  }

  & .Bar-item,
  .Bar--horizontal .Nav-item {
    height: 50px;

    @media (min-width: var(--layout-sm)) {
      height: 78px;
    }
  }

  .Bar-item:last-of-type {
    padding-right: var(--spacing-s);

    @media (min-width: var(--layout-ml)) {
      padding-right: var(--spacing-sm);
    }
  }
}
