/**
 * Breakpoints
 */

:root {
  --layout-s: 414px;
  --layout-sm: 660px;
  --layout-m: 768px;
  --layout-ml: 1024px;
  --layout-l: 1280px;
  --layout-xl: 1440px;
}

@custom-media --layout-s (max-width: 414px);
@custom-media --layout-sm (max-width: 660px);
@custom-media --layout-m (max-width: 768px);
@custom-media --layout-ml (max-width: 1024px);
@custom-media --layout-l (max-width: 1280px);
@custom-media --layout-xl (max-width: 1440px);
