/**
 * Theme specific variables
 * Try to avoid to use the color code directly
 */

:root {
  --primary-color: red;
  --background-color: white;
  --text-color: black;
  --overlay-bg: gray;
  --error-validation: red;
  --white: #fff;
  --black: #000;
}
