/**
 * Spacing definitions
 */

:root {
  --spacing-xs: 8px;
  --spacing-s: 16px;
  --spacing-sm: 24px;
  --spacing-m: 36px;
  --spacing-ml: 48px;
  --spacing-l: 64px;
  --spacing-xl: 88px;
  --spacing-xxl: 136px;
}
