/**
 * Buttons
 */

.Button {
  background-color: black;
  border: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  min-height: 50px;
  min-width: 135px;
  padding: 8px 16px;
  text-align: center;
}

a.Button {
  color: white;
  text-decoration: none;
}

/**
 * UI states
 */


.Button:matches(:hover, :focus){
  text-decoration: none;
}

.Button:active {}

.Button:disabled {
  cursor: default;
  opacity: 0.75;
}

/**
 * Modifiers
 */

.Button--flex {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
