/**
 * Resets default
 */

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
ol,
ul,
blockquote,
pre,
fieldset,
table,
address,
figure {
  margin-bottom: var(--spacing-m);
  margin-top: 0;
}

iframe,
img,
canvas,
video,
audio,
embed {
  max-width: 100%;
}
