/**
---
name: Buttons
category:
  - mod/btn
  - base
tag:
  - latest
  - base
---

Button styles.

* Base button style.
* Use `a` or `button` tag.

```html
<a class="ag-btn">Button</a>
<button class="ag-btn ag-btn--primary">Button</button>
```
*/

:root {
  --errorStyling {
    box-shadow: 0 0 2px 2px var(--error-validation);
    border-color: var(--error-validation);
  }
}

/* all-text-inputs StateLess*/
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input:not([type]),
textarea {

}

/* all-text-inputs State Active*/
input[type="color"]:active,
input[type="date"]:active,
input[type="datetime"]:active,
input[type="datetime-local"]:active,
input[type="email"]:active,
input[type="month"]:active,
input[type="number"]:active,
input[type="password"]:active,
input[type="search"]:active,
input[type="tel"]:active,
input[type="text"]:active,
input[type="time"]:active,
input[type="url"]:active,
input[type="week"]:active,
input:not([type]):active,
textarea:active {

}

/* all-text-inputs State focus*/
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input:not([type]):focus,
textarea:focus {

}

/* all-text-inputs State hover*/
input[type="color"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="email"]:hover,
input[type="month"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover,
input[type="time"]:hover,
input[type="url"]:hover,
input[type="week"]:hover,
input:not([type]):hover,
textarea:hover {

}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input:not([type]),
textarea,
select,
label {
  padding: 1.3em 1.2em 1.35em;
  color: black;
  transition: border-color .15s;
}

/* Focus and hover styles for text inputs*/
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input:not([type]):focus,
textarea:focus,
input[type="color"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="email"]:hover,
input[type="month"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover,
input[type="time"]:hover,
input[type="url"]:hover,
input[type="week"]:hover,
input:not([type]):hover,
textarea:hover {
  outline: 0;
}

/* Active styles for text inputs*/
input[type="color"]:active,
input[type="date"]:active,
input[type="datetime"]:active,
input[type="datetime-local"]:active,
input[type="email"]:active,
input[type="month"]:active,
input[type="number"]:active,
input[type="password"]:active,
input[type="search"]:active,
input[type="tel"]:active,
input[type="text"]:active,
input[type="time"]:active,
input[type="url"]:active,
input[type="week"]:active,
input:not([type]):active,
textarea:active {
  border: 1px solid blue;
}

/* Placeholder styles*/
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
input::-webkit-input-placeholder {
  color: black;
}

label span {
  text-decoration: underline;
}

.Form {
  max-width: 400px;
  margin: auto;

  & textarea {
    border: 1px solid black;
  }

  & .Button {
    font-size: 13px;
    width: auto;
  }
}

.Form > * {
  margin: 0.7em 0;
}

/* Labels inside Inputs (visually) */
.Form-group {
  border: 1px solid black;

  & label {
    padding-right: 0;
  }

  & input {
    border: 0;
  }
}

.Form-radio {
  position: relative;
  cursor: pointer;
  display: block;
  padding-left: 3.5em;

  & input {
    position: absolute;
    visibility: hidden;
    left: 0;
    top: 0.6em;
    height: 30px;
    cursor: pointer;
  }
  & input::before {
    display: block;
    position: absolute;
    content: "";
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 2px solid black;

    visibility: visible;
    margin: auto;
  }
  & input:checked::after,
  & input:hover::after {
    display: block;
    position: absolute;
    content: "";
    border-radius: 50%;
    top: 5px;
    left: 5px;
    height: 20px;
    width: 20px;
    background-color: black;
    visibility: visible;
  }
}

.Form-checkbox {
  position: relative;
  display: block;
  overflow: hidden;
  height: 2em;
  cursor: pointer;

  & .icon-check {
    position: absolute;
    background-size: 15px;
    background-position: center;
    width: 30px;
    height: 30px;
    top: 0;
  }

  & input {
    position: absolute;
    visibility: hidden;
    cursor: pointer;

  }
  & input::before {
    display: block;
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border: 2px solid black;
    background: white;
    visibility: visible;
    margin: auto;
    z-index: 2;
  }
  & input::before:checked,
  & input::before:hover {
    background: transparent;
  }
  & label {
    left: 40px;
    top: 7px;
    padding: 0;
  }
}

/* Validation */

input,
textarea {
  width: 100%;
}
input.error,
input.parsley-error {
  @apply --errorStyling;
}
textarea.error,
textarea.parsley-error {
  @apply --errorStyling;
}

ul.parsley-error-list {
  display: none !important;
}



/**
 * Custom selects
 * all credit goes to https://github.com/filamentgroup/select-css
 *
 * Styling selects crossbrowser is not easy, hence this file.
 * to use, wrap any select in a .CustomSelect wrapper and include this CSS
 */

.CustomSelect {
  border: 0;
  box-shadow: none;
  outline: 0;



  & select {
    border-color: black;
    border-radius: 0;
    outline: none;
    background-color: transparent;

    &:focus {
      outline: none;
      background-color: transparent;
      color: #222;
      border-radius: 0;
    }
  }
}
.CustomSelect:matches(:hover, :focus){
  border-color: gray;
}

/**
 * YOU SHOULD BE ABLE TO IGNORE EVERYTHING BELOW THIS
 */


/* Container used for styling the custom select, the buttom class below adds the bg gradient, corners, etc.*/
.CustomSelect {
  position: relative;
  display: block;
  padding: 0;
}

/* This is the native select, we"re making everything but the text invisible so we can see the button styles in the wrapper*/
.CustomSelect select {
  width: 100%;
  margin: 0;
  background: none;
  outline: none;
  box-sizing: border-box;
  /* Remove select styling */
  appearance: none;
  -webkit-appearance: none;
}

/* Custom arrow sits on top of the select - could be an image, SVG, icon font, etc. or the arrow could just baked into the bg image on the select.*/
.CustomSelect::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 40px;
  height: 100%;
  background-color: black;
  background-image: url("data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="24.09px" height="24.09px" viewBox="0 0 24.09 24.09" enable-background="new 0 0 24.09 24.09" xml:space="preserve">
<polygon fill="#FFFFFF" points="24.102,7.162 12.045,19.219 -0.011,7.162 2.3,4.873 12.045,14.609 21.801,4.873 "/>
</svg>
");
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  z-index: 2;
  /* This hack make the select behind the arrow clickable in some browsers*/
  pointer-events: none;
}

/* Make sure options have normal weight*/
.CustomSelect option {
  font-weight: normal;
}




/* ------------------------------------  */
/* START OF UGLY BROWSER-SPECIFIC HACKS */
/* ----------------------------------  */

/* OPERA - Pre-Blink nix the custom arrow, go with a native select button to keep it simple. Targeted via this hack http://browserhacks.com/#hack-a3f166304aafed524566bc6814e1d5c7 */
x:-o-prefocus,
.CustomSelect::after {
  display: none;
}

/* IE 10/11+ - This hides native dropdown button arrow so it will have the custom appearance, IE 9 and earlier get a native select - targeting media query hack via http://browserhacks.com/#hack-28f493d247a12ab654f6c3637f6978d5 - looking for better ways to achieve this targeting */
/* The second rule removes the odd blue bg color behind the text in the select button in IE 10/11 and sets the text color to match the focus style"s - fix via http://stackoverflow.com/questions/17553300/change-ie-background-color-on-unopened-focused-select-box */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .CustomSelect select::-ms-expand {
    display: none;
  }
  .CustomSelect select:focus::-ms-value {
    background: transparent;
    color: #222;
  }
}


/* FIREFOX won"t let us hide the native select arrow, so we have to make it wider than needed and clip it via overflow on the parent container. The percentage width is a fallback since FF 4+ supports calc() so we can just add a fixed amount of extra width to push the native arrow out of view. We"re applying this hack across all FF versions because all the previous hacks were too fragile and complex. You might want to consider not using this hack and using the native select arrow in FF. Note this makes the menus wider than the select button because they display at the specified width and aren"t clipped. Targeting hack via http://browserhacks.com/#hack-758bff81c5c32351b02e10480b5ed48e */
/* Show only the native arrow */
@-moz-document url-prefix() {
  .CustomSelect {
    overflow: hidden;
  }
  /*.CustomSelect select {
    it make the select bug in firefox
     width: 120%;
     width: -moz-calc(100% + 3em);
     width: calc(100% + 3em);
  }*/
}

/* Firefox focus has odd artifacts around the text, this kills that. See https://developer.mozilla.org/en-US/docs/Web/CSS/:-moz-focusring */
.CustomSelect select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}


/* ------------------------------------  */
/*  END OF UGLY BROWSER-SPECIFIC HACKS  */
/* ------------------------------------  */
