/**
---
name: Buttons
category:
  - mod/btn
  - base
tag:
  - latest
  - base
---

Button styles.

* Base button style.
* Use `a` or `button` tag.

```html
<a class="ag-btn">Button</a>
<button class="ag-btn ag-btn--primary">Button</button>
```
*/

:root {
  --errorStyling {
    box-shadow: 0 0 2px 2px var(--error-validation);
    border-color: var(--error-validation);
  }
}

/* all-text-inputs StateLess*/
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input:not([type]),
textarea {

}

/* all-text-inputs State Active*/
input[type="color"]:active,
input[type="date"]:active,
input[type="datetime"]:active,
input[type="datetime-local"]:active,
input[type="email"]:active,
input[type="month"]:active,
input[type="number"]:active,
input[type="password"]:active,
input[type="search"]:active,
input[type="tel"]:active,
input[type="text"]:active,
input[type="time"]:active,
input[type="url"]:active,
input[type="week"]:active,
input:not([type]):active,
textarea:active {

}

/* all-text-inputs State focus*/
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input:not([type]):focus,
textarea:focus {

}

/* all-text-inputs State hover*/
input[type="color"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="email"]:hover,
input[type="month"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover,
input[type="time"]:hover,
input[type="url"]:hover,
input[type="week"]:hover,
input:not([type]):hover,
textarea:hover {

}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input:not([type]),
textarea,
select,
label {
  padding: 1.3em 1.2em 1.35em;
  color: black;
  transition: border-color .15s;
}

/* Focus and hover styles for text inputs*/
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input:not([type]):focus,
textarea:focus,
input[type="color"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="email"]:hover,
input[type="month"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover,
input[type="time"]:hover,
input[type="url"]:hover,
input[type="week"]:hover,
input:not([type]):hover,
textarea:hover {
  outline: 0;
}

/* Active styles for text inputs*/
input[type="color"]:active,
input[type="date"]:active,
input[type="datetime"]:active,
input[type="datetime-local"]:active,
input[type="email"]:active,
input[type="month"]:active,
input[type="number"]:active,
input[type="password"]:active,
input[type="search"]:active,
input[type="tel"]:active,
input[type="text"]:active,
input[type="time"]:active,
input[type="url"]:active,
input[type="week"]:active,
input:not([type]):active,
textarea:active {
  border: 1px solid blue;
}

/* Placeholder styles*/
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
input::-webkit-input-placeholder {
  color: black;
}

label span {
  text-decoration: underline;
}

.Form {
  max-width: 400px;
  margin: auto;

  & textarea {
    border: 1px solid black;
  }

  & .Button {
    font-size: 13px;
    width: auto;
  }
}

.Form > * {
  margin: 0.7em 0;
}

/* Labels inside Inputs (visually) */
.Form-group {
  border: 1px solid black;

  & label {
    padding-right: 0;
  }

  & input {
    border: 0;
  }
}

.Form-radio {
  position: relative;
  cursor: pointer;
  display: block;
  padding-left: 3.5em;

  & input {
    position: absolute;
    visibility: hidden;
    left: 0;
    top: 0.6em;
    height: 30px;
    cursor: pointer;
  }
  & input::before {
    display: block;
    position: absolute;
    content: "";
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 2px solid black;

    visibility: visible;
    margin: auto;
  }
  & input:checked::after,
  & input:hover::after {
    display: block;
    position: absolute;
    content: "";
    border-radius: 50%;
    top: 5px;
    left: 5px;
    height: 20px;
    width: 20px;
    background-color: black;
    visibility: visible;
  }
}

.Form-checkbox {
  position: relative;
  display: block;
  overflow: hidden;
  height: 2em;
  cursor: pointer;

  & .icon-check {
    position: absolute;
    background-size: 15px;
    background-position: center;
    width: 30px;
    height: 30px;
    top: 0;
  }

  & input {
    position: absolute;
    visibility: hidden;
    cursor: pointer;

  }
  & input::before {
    display: block;
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border: 2px solid black;
    background: white;
    visibility: visible;
    margin: auto;
    z-index: 2;
  }
  & input::before:checked,
  & input::before:hover {
    background: transparent;
  }
  & label {
    left: 40px;
    top: 7px;
    padding: 0;
  }
}

/* Validation */

input,
textarea {
  width: 100%;
}
input.error,
input.parsley-error {
  @apply --errorStyling;
}
textarea.error,
textarea.parsley-error {
  @apply --errorStyling;
}

ul.parsley-error-list {
  display: none !important;
}


