/**
 * Fonts and characteristique
 */

:root {
  --type-title1 {

    @apply --font-arial-bold;
    font-size: 22px;
    letter-spacing: var(--ls1);
    line-height: 1.1;
    text-transform: uppercase;
  }

  --type-title2 {

    @apply --type-title1;
    @apply --font-arial-regular;
  }

  --type-title3 {

    @apply --font-arial-bold;
    font-size: 15px;
  }
  --type-title4 {

    @apply --font-arial-bold;
    font-size: 12px;
  }

  --type-copy {

    @apply --font-arial-regular;
    font-size: 14px;
  }

  --type-quote {

    @apply --font-lato;
    font-size: 25px;
    line-height: 1.25;

    @media (min-width: var(--layout-sm)) {
      font-size: 40px;
    }
  }

  --type-smallCopy {

    @apply --font-arial-regular;
    font-size: 12px;
    line-height: 1.25;
  }

  --type-textInput {

    @apply --font-arial-bold;
    font-size: 12px;
  }

  --type-label {

    @apply --font-arial-regular;
    font-size: 11px;
  }

  --type-button {

    @apply --font-arial-regular;
    font-size: 11px;
    text-transform: uppercase;
  }

  --type-list {

    @apply --font-arial-regular;
    font-size: 20px;
    line-height: 1.5;
  }
}

.type-title1 {

  @apply --type-title1;
}


.type-title2 {

  @apply --type-title2;
}

.type-title3 {

  @apply --type-title3;
}

.type-title4 {

  @apply --type-title4;
}

.type-navigation {

  @apply --type-copy;
}

.type-button {

  @apply --type-button;
}

.type-textInput {

  @apply --type-textInput;
}

.type-copy {

  @apply --type-copy;
}

.type-smallCopy {

  @apply --type-smallCopy;
}

.type-label {

  @apply --type-label;
}

.type-list {

  @apply --type-list;
}

.type-quote {

  @apply --type-quote;
}
